body {
    background: #FDFCFC;
    margin-top: 60px;
}

/* NAVIGATION */

.nav {
    height: 60px;
    width: 100%;
    top: 0;
    line-height: 60px;
    background: #FFF;
    padding: 0 3%;
    border-bottom: 1px solid #F2F2F2;
    z-index: 10000;
    position: fixed;
}

.nav .logo {
    position: absolute;
    z-index: 1000;
    height: 60px;
}

.nav .logo img {
    height: 45px;
    margin-top: 7.5px;
}

.nav .logo h1 {
    font-family: 'OCR-A BT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    float: right;
    color: #1de9b6;
    margin-top: 0px;
    margin-left: 10px;
}

.nav .menu {
    width: calc(100% - 188.5px);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.nav .menu a {
    padding: 15px 10px;
    color: #3C3F50;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: all .1s;
    margin: 0 10px;
}

.nav .menu a:hover {
    border-bottom: 2px solid #E9908A;
}

.nav .menu span {
    position: absolute;
    font-size: 22px;
    line-height: 63px;
}

.nav .account {
    position: absolute;
    top: 8px;
    right: 3%;
}

.nav .account img {
    height: 45px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.account-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
}

.account-popup .triangle {
    border-bottom: 13px solid #FFF;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -13px;
    right: 12px;
}

.account-popup {
    position: absolute;
    height: 300px;
    width: 220px;
    top: 60px;
    right: 3%;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 -3px 20px rgba(0,0,0,.07), 0 3px 6px rgba(0,0,0,.05);
    display: none;
}

.account-popup a {
    color: #3C3F50;
    height: 60px;
    display: block;
    padding: 0 41px;
    border-bottom: 1px solid #F2F2F2;
    border-left: 2px solid transparent;
    transition: all .2s;
}

.account-popup a span {
    position: absolute;
    margin-top: 22px;
    left: 18px;
}

.account-popup a:hover {
    border-left: 2px solid #E9908A;
}

.account-popup a:last-child {
    border-bottom: 1px solid transparent !important;
}
.account-popup a:last-child:hover {
    border-left: 2px solid transparent !important;
}

/* INPUTS */

.edit-section {
    width: 70%;
    /* height: calc(100vh - 60px); */
    overflow-y: auto;
    margin-left: 30%;
    border-left: 1px solid #F2F2F2;
    padding: 20px 20px 100px 20px;
}

.edit-section h1 {
    margin-bottom: 40px;
}

.edit-section p {
    margin: 30px 0;
}

.edit-section input {
    font-family: 'Segoe UI', Arial, sans-serif;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 300px;
    color: #3C3F50;
    padding: 10px 20px;
    height: 50px;
    font-size: 18px;
    margin-right: 25px;
    background: #FFF;
    font-weight: 300;
    box-shadow: 0 0px 20px rgba(60, 63, 80, .1);
    transition: box-shadow .2s, border .2s;
}

.edit-section input:focus {
    border: 1px solid #C2E9FB;
}

.edit-section textarea {
    resize: vertical;
    width: 70%;
    min-height: 100px;
    height: 200px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0px 20px rgba(60, 63, 80, .1);
    padding: 10px 20px;
}

.edit-section .group {
    width: 50%;
    min-width: 300px;
    float: left;
    margin-top: 15px;
}

.edit-section .group span,
.edit-section .area-head {
    display: block;
    margin: 10px 12px;
    font-weight: bold;
}

.edit-section .area-head {
    margin: 25px 12px 10px 12px;
}

.edit-section .image-change {
    margin: 30px 0;
    height: 140px;
    display: flex;
    align-items: center
}

.edit-section .image-change input {
    margin-left: 30px;
}

.edit-section .image-change img {
    border-radius: 50%;
    float: left;
    width: 140px;
    height: 140px;
}

.edit-section .btn {
    display: block;
}
