/* DEFAULT STYLES */

body {
    background: #FDFCFC;
    margin-top: 60px;
}

/* NAVIGATION */

.nav {
    height: 60px;
    width: 100%;
    top: 0;
    line-height: 60px;
    background: #FFF;
    padding: 0 3%;
    border-bottom: 1px solid #F2F2F2;
    z-index: 10000;
    position: fixed;
}

.nav .logo {
    position: absolute;
    z-index: 1000;
    height: 60px;
}

.nav .logo img {
    height: 45px;
    margin-top: 7.5px;
}

.nav .logo h1 {
    font-family: 'OCR-A BT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    float: right;
    color: #1de9b6;
    margin-top: 0px;
    margin-left: 10px;
}

.nav .menu {
    width: calc(100% - 188.5px);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.nav .menu a {
    padding: 15px 10px;
    color: #3C3F50;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: all .1s;
    margin: 0 10px;
}

.nav .menu a:hover {
    border-bottom: 2px solid #E9908A;
}

.nav .menu span {
    position: absolute;
    font-size: 22px;
    line-height: 63px;
}

.nav .account {
    position: absolute;
    top: 8px;
    right: 3%;
}

.nav .account img {
    height: 45px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.account-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
}

.account-popup .triangle {
    border-bottom: 13px solid #FFF;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -13px;
    right: 12px;
}

.account-popup {
    position: absolute;
    height: auto;
    width: 220px;
    top: 60px;
    right: 3%;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 -3px 20px rgba(0,0,0,.07), 0 3px 6px rgba(0,0,0,.05);
    display: none;
}

.account-popup a {
    color: #3C3F50;
    height: 60px;
    display: block;
    padding: 0 41px;
    border-bottom: 1px solid #F2F2F2;
    border-left: 2px solid transparent;
    transition: all .2s;
}

.account-popup a span {
    position: absolute;
    margin-top: 22px;
    left: 18px;
}

.account-popup a:hover {
    border-left: 2px solid #E9908A;
}

.account-popup a:last-child {
    border-bottom: 1px solid transparent !important;
}
.account-popup a:last-child:hover {
    border-left: 2px solid transparent !important;
}

/* COURSES LIST - MAIN SECTION */

.content {
    padding: 20px 3% 60px 3%;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    width: 0;
    z-index: 1000;
}

.overlay.animate {
    animation-name: Run;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: .6s;
}

@keyframes Run {
    0% {
        width: 10%;
    }

    100% {
        width: 100%;
        left: 100%;
    }
}

.header {
    font-size: 35px;
}

.colors {
    position: absolute;
    right: calc(3% + 5px);
    margin-top: -57px;
}

.colors .text {
    margin-right: 6px;
}

.content .circle-color {
    width: 15px;
    height: 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .05);
    border-radius: 50%;
    margin: -2px 1px;
    transition: all .3s;
    cursor: pointer;
    display: inline-block;
}

.content .circle-color:hover {
    transform: scale(1.2);
}

.color.color-1 { background: #00E1ED }
.color.color-2 { background: #FFDA9B }
.color.color-3 { background: #b2a4f0 }
.color.color-4 { background: #a4f9ee }
.color.color-5 { background: #E9E9E9 }
.color.color-6 { background: #3C3F50 }

/* COURSE */

.courses {
    margin-top: 100px;
}

.no-courses {
    text-align: center;
    float: left;
    margin: 30px 1.5%;
    width: 67%;
}

.no-courses h1 {
    margin: calc(50vh - 150px) 0 40px 0;
}

.course {
    float: left;
    width: 30.3333333%;
    margin: 30px 1.5%;
    border-bottom: 3px solid #a4f9ee;
    height: 357px;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 7px 40px rgba(0, 0, 0, .05);
    padding: 15px 20px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-position-x: 290px;
    background-position-y: 200px;
    background-size: 110px;
}

.course:hover {
    transform: scale(1.05);
}

.course.color-1 { border-color: #00E1ED }
.course.color-2 { border-color: #FFDA9B }
.course.color-3 { border-color: #b2a4f0 }
.course.color-4 { border-color: #a4f9ee }
.course.color-5 { border-color: #E9E9E9 }
.course.color-6 { border-color: #3C3F50 }

.course h2 {
    margin-bottom: 15px;
}

.course .info {
    position: absolute;
    margin-top: 313px;
    background: #FFF;
}

.course .about {
    height: 148px;
    overflow: hidden;
}

/* ABOUT SELECTED COURSE */

.about-selected {
    float: left;
    width: 65%;
    left: 2%;
    top: calc(60px + 2vw);
    background: #FFFFFF;
    box-shadow: 0 7px 20px rgba(0, 0, 0, .05);
    border-radius: 5px;
    overflow: auto;
    position: fixed;
    height: calc(100% - 60px - 4vw);
}

.about-selected img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.about-selected .about-text {
    font-size: 20px;
    background: #FFFFFF;
    padding: 60px 4%;
}

.about-selected code {
    background: #D8EDED;
    padding: 2px 5px;
    border-radius: 2px;
    font-family: "Consolas", "Courier New", Courier, monospace !important;
    font-weight: lighter !important;
    font-size: 16px !important;
}

.about-selected p {
    margin: 20px 0;
}

/* OVERVIEW */

.overview {
    background: #FFFFFF;
    border-radius: 5px;
    float: right;
    width: 29%;
    height: calc(100% - 60px - 4vw);
    position: fixed;
    right: 2%;
    top: calc(2vw + 60px);
    box-shadow: 0 7px 20px rgba(0, 0, 0, .05);
}

.overview .data {
    padding: 10px 15px;
    height: calc(100vh - 60px - 4vw - 70px);
    overflow: auto;
}

.overview h3 {
    font-weight: 500;
}

.overview p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    clear: both;
}

.overview .left {
    float: left;
    padding-left: 30px
}

.overview .right {
    float: right;
    color: #888888
}

.overview .icon {
    color: #FD767D;
    float: left;
    margin-left: -30px;
    font-size: 25px;
    line-height: 53px;
}

.overview .settings {
    bottom: 2vw;
    height: 70px;
    width: 100%;
    border-top: 1px solid #EEEEEE;
    right: 2vw;
    padding: 0 15px;
}

.overview .settings .btn {
    margin: 13px auto;
}

/* COURSE CONTENT */

.course-content {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    background: #FFFFFF;
    display: none;
    z-index: 10000;
}

.content h1.no-courses {
    text-align: center;
    font-size: 50px;
    margin: 0 !important;
    padding: 0 !important;
    line-height: calc(100vh - 160px);
}

.return {
    width: 65%;
    position: fixed;
    top: calc(60px + 2vw);
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    width: 65%;
    padding: 10px 0;
    background: #FFF;
}

.return span {
    display: inline-block;
    float: left;
    font-size: 25px;
    margin-top: 3px;
}

.my-course {
    margin-top: 20px;
    width: 65%;
    height: 250px;
    padding: 20px 30px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, .05);
    color: #FFF;
    border-radius: 3px;
    float: left;
}

.my-course .decor,
.other-courses .decor {
    float: left;
    width: 30%;
}

.my-course .info,
.other-courses .info {
    float: right;
    width: 70%;
}

.my-course .info p {
    height: 73px;
    overflow: hidden;
}

.my-course .decor .line {
    height: 250px;
    width: 5px;
    display: block;
    position: absolute;
    margin-top: -20px;
    z-index: 0;
    overflow: hidden;
}


.my-course .decor .type {
    width: 9.25%;
    margin-left: 5px;
    text-align: right;
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.my-course .decor img {
    position: absolute;
    height: 150px;
    margin-top: 110px;
    right: 32%;
    z-index: 0;
    opacity: .1;
}

.my-course .decor img::selection {
    background: transparent
}

.my-course h2 {
    margin-bottom: 20px;
    overflow: hidden;
    height: 36px;
}

.my-course .btn {
    background: #FFFFFF;
    color: #3C3F50;
    width: 300px;
}

.my-course#html .decor .line {background: #DD9273}
.my-course#html .decor .line .progress {background: #ebbeab}
.my-course#html {background: linear-gradient(45deg, #cf7e5b, #f59e79)}

.my-course#css .decor .line {background: #1572B6}
.my-course#css .decor .line .progress {background: #66bfff}
.my-course#css {background: linear-gradient(45deg, #4caaec, #3fa1e7)}

.my-course#javascript .decor .line {background: #F0DB4F}
.my-course#javascript .decor .line .progress {background: #ffed78}
.my-course#javascript {background: linear-gradient(45deg, #e2ce4e, #e9d44d)}

/* sidebar */

.sidebar {
    right: 3%;
    top: 60px;
    position: fixed;
    width: 30%;
    height: calc(100% - 60px);
    background: #FFFFFF;
    box-shadow: 0 7px 20px rgba(0, 0, 0, .05);
    padding: 20px 30px;
    overflow-y: auto;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}

.sidebar .block {
    background: #3C3F50;
    margin-bottom: 45px;
    padding: 20px 30px 30px 30px;
    color: #FFF;
    box-shadow: 0 -3px 20px rgba(0,0,0,.07), 0 3px 6px rgba(0,0,0,.05), 500px 500px 500px rgba(30, 30, 30, .4) inset;
    border-radius: 2px;
}

.sidebar h2 {
    font: normal 25px 'Segoe UI Black';
    color: #F2F3F5;
}

.sidebar .block p {
    margin: 20px 0 30px 0;
    color: #FFF;
}

.sidebar .block a {
    background: #FFF;
    color: #3C3F50;
}

.sidebar .subs {
    text-align: center;
    color: #888;
    margin: 0px 0 30px 0;
}

.sidebar .subs a {
    color: #39CE90;
    text-decoration: underline;
}

/* OTHER COURSES */

.other-courses {
    width: 65%;
    height: 180px;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 20px 30px;
    float: left;
    margin-top: 3vw;
    box-shadow: 0 -3px 20px rgba(0,0,0,.07), 0 3px 6px rgba(0,0,0,.05);
    overflow: hidden;
}

.other-courses img {
    float: left;
    height: 150px;
    margin-top: 30px;
    margin-left: -60px;
}

.other-courses .info .type {
    margin-top: 8px;
    text-align: right;
}

.other-courses .info .line {
    overflow: hidden;
    width: 100%;
    height: 5px;
    display: block;
    background: #8a8da5;
    border-radius: 3px;
}

.other-courses .info .line .progress {
    height: 5px;
    background: #3C3F50;
    float: right;
    border-radius: 3px;
}

.other-courses .btn {
    background: #3C3F50;
    color: #FFFFFF;
    width: 300px;
}

/* RESPONSIVE STYLES */


/* MEDIA QUERIES */
