* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font: lighter 18px "Segoe UI Light", Tahoma, Verdana, Arial, sans-serif;
    overflow-x: hidden;
    background: #FDFCFC;
    background: #15171F;
    color: #3C3F50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 935px !important;
}

.nicescroll-rails {
    z-index: 2
}

.nicescroll-rails:hover {
    opacity: 1
}

a {
    color: #F2F3F5;
    transition: all .1s
}

.btn {
    border-radius: 50px;
    transition: all .3s;
}

code {
    background: #D8EDED;
    padding: 2px 5px;
    border-radius: 2px;
    font-family: "SourceCodePro", "Consolas", "Courier New", Courier, monospace;
    font-weight: lighter;
    font-size: 16px
}

/************************************** NAVIGATION **************************************/

.nav {
    height: 55px;
    width: 100%;
    line-height: 55px;
    background: #1C2128;
    background-image: radial-gradient(circle at center, #232a33 4%, #1C2128 40%);
    padding: 0 3%;
    border-bottom: 1px solid rgba(60, 63, 80, .15);
    z-index: 3;
    position: fixed;
}

.nav .logo {
    position: absolute
}

.nav .logo img {
    height: 40px;
    margin-top: 7.75px
}

.nav .menu {
    width: calc(100% - 188px);
    margin: 0 90px;
    text-align: center;
}

.nav .menu .container {
    width: 516px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2) inset;
}

.nav .menu a {
    line-height: 53px;
    margin: 0 15px;
    padding-left: 37px;
    padding-right: 12px;
    cursor: pointer;
    display: inline-block;
    float: left;
    border-bottom: 2px solid transparent
}

.nav .menu a:hover {
    border-bottom: 2px solid #E9908A
}

.footer .feedback span {
    position: absolute;
    font-size: 22px;
    margin-left: -27px
}

.nav .menu .nav-btn .icon {
    display: inline-block;
    font-size: 22px;
    line-height: 53px;
    float: left;
    margin-left: -27px
}

.nav .menu .text {
    float: right;
}

.nav .account {
    position: absolute;
    top: 10px;
    right: 3%
}

.nav .account img {
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 3px 20px rgba(242, 243, 245, .1)
}

/**************************************************************************************
SECTIONS
**************************************************************************************/

.docs {background: #F2F3F5}

.editor .loader,
.preview .loader {width: 100%}

.sections {
    height: calc(100% - 125px);
    width: 30%;
    top: 55px;
    position: fixed;
    border: 7px solid #15171F;
    border-radius: 8px;
    z-index: 2
}

.sections .loader {
    line-height: calc(100vh - 110px - 1vw);
    text-align: center;
    width: 95%;
    font-size: 5vw;
    animation: opacity 1.5s infinite linear, tshadow 1.5s ease-in-out;
    position: absolute;
    z-index: -1;
}

@keyframes tshadow{0%{text-shadow:7px 7px 0 rgba(0,0,0,.2)}99%{text-shadow:0 0 0 rgba(0,0,0,.2)}to{text-shadow:none}}

.sections .action-bar {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
    background: #EDEDED;
    line-height: 55px;
}

/************************************ DOCUMENTATION ***********************************/

.docs .head {text-align:center}

.docs .container {
    overflow-y: scroll;
    height: calc(100% - 55px);
    padding: 25px 20px;
    margin-top: -7px;
}

.docs .loader {
    width: 100%;
    opacity: 0;
}

.docs h3 {
    color: #57c192;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Consolas';
}

.docs h1 {
    font: lighter 32px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

.docs p {
    margin: 15px 0;
}

.docs .task-header {
    margin-top: 20px;
    width: calc(100% + 40px);
    height: 35px;
    box-shadow: 0 2px 4px rgba(125, 125, 125, .25);
    background: #D8EDED;
    text-align: center;
    line-height: 35px;
    z-index: 2;
    margin-left: -20px;
}

.docs .tasks {
    width: calc(100% + 40px);
    padding: 1px 0;
    margin-left: -20px;
    background: rgba(216, 237, 237, .5);
}

.docs .tasks p {
    padding: 10px 20px 30px 20px;
    border-bottom: 1px solid #c6e2e2;
    list-style: auto;
}

.docs .hint-header {
    width: calc(100% + 20px);
    height: 45px;
    box-shadow: 0 2px 5px rgba(125, 125, 125, .4);
    text-align: center;
    line-height: 45px;
    z-index: 2;
    margin-left: -10px;
    font-size: 18px;
    background: linear-gradient(90deg, #1DED7E 0, #34B3A0) transparent;
    color: #FFF;
    /*background-image: radial-gradient(circle at center,#416376 44%,#214a63 100%);*/
}

.docs .hint {
    background: rgba(216, 237, 237, .9);
    width: calc(100% + 20px);
    max-height: 100%;
    margin: -10px 0;
    margin-left: -10px;
    display: none;
    box-shadow: 0 2px 10px rgba(125, 125, 125, .4);
}

.docs .hint code,
.check .problem-code-error code {
    background: #FFF;
    color: #EC5F67;
    padding: 2px 5px;
    border-radius: 2px;
}

.docs .hint p {
    padding: 40px 10px;
}

/*************************************** EDITOR ***************************************/

.editor {
    width: 39.66666666%;
    left: 30%;
    background: #1C2128;
    border-right: none;
    border-left: none;
    z-index: 0;
}

.editor .actions {
    border-top: 1px solid rgba(60, 63, 80, .15);
    border-bottom: none;
    background: transparent;
    line-height: 24px;
    bottom: 0;
    padding: 0 18px;
    position: absolute;
}

.editor .actions .action-btn {
    padding: 8px 12px;
    float: right;
    margin: 7px 5px;
    transition: all .2s;
    font-size: 19px;
}

.editor .actions .action-btn:hover {
    background: #F2F3F5;
    color: #1a1e24;
}

.actions .btn {
    height: 40px;
    margin: 7.5px 18px 7.5px 12px;
    background: #E9908A;
    display: inline-block;
    text-transform: none;
    overflow: hidden;
    font-size: 20px;
    line-height: 42px;
    padding: 0 11px;
    transition: width .2s !important;
}

.actions .btn .text {
    float: right;
    line-height: 37px;
    padding-right: 10px;
    padding-left: 3px;
}

.editor .tabs {
    background: #1a1e24;
    border-bottom: 1px solid rgba(60, 63, 80, .15)
}

.editor .tabs .folder-btn {
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 10px;
    line-height: 35px;
    color: #FFF;
    float: left;
    transition: all .2s;
    cursor: pointer;
}

.editor .tabs .folder-btn:hover {
    background: #FFF;
    color: #1a1e24;
    box-shadow: 0 0 20px rgba(255, 255, 255, .1);
}

.editor .tabs .tab {
    margin-top: 9px;
    background: #1C2128;
    width: 200px;
    height: 46px;
    display: inline-block;
    border: 1px solid rgba(60, 63, 80, .15);
    border-bottom: none;
    line-height: 46px;
    font-size: 18px;
    color: #DDD;
    padding-left: 30px;
    font-family: "SourceCodePro", "Consolas", "Courier New", Courier, monospace;
}

.editor .CodeMirror {
    font-family: "SourceCodePro", "Consolas", "Courier New", Courier, monospace;
    font-weight: 100 !important;
    height: calc(100vh - 249px);
}

.CodeMirror-linenumber {
    font-family: "SourceCodePro", "Consolas", "Courier New", Courier, monospace;
    font-weight: 300;
}

.cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
}

/***************************************** PREVIEW *****************************************/

.preview {
    width: 30.333333%;
    right: 0;
    background: #FFFFFF
}

.preview .page-info .tab {
    height: 54px;
    padding: 0 18px;
    width: calc(100% - 55px);
    float: left;
    background: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview .page-info .tab img {
    height: 24px;
    margin: 17px 10px 0 0;
    float: left;
}

.preview .page-info .pe-7s-refresh {
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 20px;
    line-height: 55px;
    transition: background .2s;
}

.preview .page-info .pe-7s-refresh:hover{background:#DDDDDD}

/***************************************** FOOTER *****************************************/

.footer {
    position: fixed;
    height: 70px;
    width: 100%;
    bottom: 0;
    background: #1C2128;
    color: #F2F3F5;
    line-height: 70px;
    padding: 0 3%;
    font-size: 20px;
    border-top: 1px solid rgba(60, 63, 80, .15)
}

.footer .side {
    opacity: .8;
    padding: 0 10px;
    max-width: 29vw;
    display: inline-block;
    overflow: hidden
}

.footer .side:hover {opacity: 1}
.footer .part-menu-btn {float: left}

.footer .lessons-switch {
    position: absolute;
    width: 520px;
    margin: 0 calc(46.8% - 260px);
    text-align: center
}

.footer .lessons-switch .btn {
    padding: 8px 20px;
    margin: 0 20px;
    text-transform: none;
}

.footer .lessons-switch .btn:not([href]) {
    opacity: .5;
    cursor: no-drop
}

.footer .lessons-switch .btn.active {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(29, 237, 126, .1);
    background: #57c192;
    animation: shadow 1s ease-in
}

@keyframes shadow { 0% { box-shadow: 0 0 400px rgb(29, 237, 126) } to { box-shadow: 0 0 20px rgba(29, 237, 126, .1) } }

.footer .feedback {
    float: right
}

.footer .feedback span {
    line-height: 72px
}
