/* #fdfdfd, #39CE90 */

* {
    margin: 0;
    padding: 0;
    outline: none !important;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    -webkit-font-smoothing: antialized;
    text-size-adjust: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1) inset;
    background: linear-gradient(90deg, #C2E9FB, #E0D1F7);
}

.back-image {
    position: fixed;
    z-index: -1;
    display: inline-block;
    color: #d8eded;
    text-shadow: 0 7px 20px rgba(216, 237, 237, .3);
    font: lighter 20vw 'OCR-A BT';
    cursor: default;
}

.back-image-1 {left: 0%;top: 50%}
.back-image-2 {top: 0%; left: 20%}
.back-image-3 {right: 0%}
.back-image-4 {left: -5%;top: 20%}
.back-image-5 {right: 15%;top: 30%}
.back-image-6 {right: 5%;bottom: 0%}

.nav {
    position: absolute;
    width:50%;
    height: 100px;
    padding: 30px 3%;
    min-width: 450px;
    top: 0;
}

.nav .logo {float: left}

.nav .logo img {
    height: 50px;
    margin-top: -8px
}

.nav .logo h1 {
    float: right;
    margin-left: 12px;
    margin-top: -7px;
    color: #1ded7e;
    text-transform: uppercase;
    font-family: "OCR-A BT", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav .menu {float: right}

.nav .menu a {
    color: #3C3F50;
    margin: 0 20px;
    font-size: 19px;
    -webkit-transition: all .1s;
    transition: all .1s;
    opacity: .85
}

.nav .menu a:hover {opacity: 1}

/* INPUT */

.input {
    min-width: 450px;
    width: 50%;
    display: block;
    height: 100vh;
    margin: 0 auto;
    background: #FFFFFF;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    font-size: 19px;
    padding-top: 30px;
}

.container {
    margin-top: 100px;
}

.input input.text {
    font-family: 'Segoe UI', Arial, sans-serif;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 400px;
    display: block;
    color: #3C3F50;
    padding: 10px 20px;
    height: 50px;
    font-size: 18px;
    margin: 25px auto 5px auto;
    background: #FFF;
    font-weight: 300;
    box-shadow: 0 0px 20px rgba(60, 63, 80, .15);
    background: #FFFFFF;
    transition: box-shadow .2s, border .2s;
}

.input input:focus {
    border: 1px solid #C2E9FB;
}

.submit-btn {
    width: 400px !important;
    transition: all .3s;
    border: 0;
    background: #FD767E;
    border-radius: 50px;
    cursor: pointer;
    width: 85%;
    color: #FFF;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0 25px 0;
    font-weight: 300 !important;
    box-shadow: 0 5px 30px rgba(253, 118, 126, .3);
}

.submit-btn:hover {
    box-shadow: 0 5px 30px rgba(253, 118, 126, .45);
}

.submit-btn:active {
    box-shadow: 0 5px 30px rgba(253, 118, 126, .3);
}

.input h4 a {
    color: #39CE90;
    text-decoration: underline;
}

.input .error {
    color: #E3918B;
    text-transform: uppercase;
}

.input .error span {
    font-size: 16px;
}

#always-signed {
    display: none;
}

.input label,
.input .checkbox {
    text-transform: uppercase;
    cursor: pointer !important;
    border-radius: 50%;
    margin-top: 25px;
}

.checkbox.pe-7s-close-circle {
    opacity: 0;
    position: absolute;
    margin-left: -19px;
}

#always-signed:checked~.pe-7s-check {
    opacity: 1;
    color: #FFF;
    background: #39CE90;
}

#always-signed:checked~.pe-7s-close-circle {
    opacity: 0;
    color: #3C3F50;
}

#always-signed:not(:checked)~.pe-7s-check {
    opacity: 0;
    color: #3C3F50;
}

#always-signed:not(:checked)~.pe-7s-close-circle {
    opacity: 1;
    color: #FFF;
    background: #E3918B;
}
